@charset"utf-8";
.header_wrap .nav-inner img{
	margin-top: 5px;
	margin-right: 15px;
}
.header_wrap .navbar-brand{
	font-size: 22px;
}
.header_wrap .navbar-nav li{
	padding-top: 15px;
	font-size: 16px;
	padding-left:15px;
}
.header_wrap .navbar-nav li a{
	text-decoration: none;
}
#left, #right, #openClose{
 float: left;
 overflow: auto;
}
.header_wrap {
    width: 100%;
    background: #40a2fb;
   display:inline-block;
    padding:20px 0;
}

.header_wrap .nav_con {
	background:#40a2fb;
    margin: 0 auto;
    width:1002px;
}
.header_wrap  a{
	color: #fff;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
.nav_r{
	margin-top:10px;
}
.nav_r li:nth-of-type(1){
	width:auto;
}
.nav_r li{
    padding: 6px 0;
    border-radius:5px;
 }
 
 .nav_r li:nth-of-type(2){
  background:rgba(255,255,255,0.3);
  width:60px;
  text-align:center;
  
 }
.nav_r li a{
	    font-size: 16px;
    display: block;
    
}
.nav_r li:nth-of-type(1) a{
padding-right:20px;	
}
.nav_r li a:hover{
	text-decoration:none;
}
#footer, #footer a {
    color: #999;
}

#footer {
    margin: 8px 0 0 0;
    padding: 3px 0 0 0;
    font-size: 11px;
    text-align: center;
    border-top: 2px solid #40a2fb;
    clear: both;
}

#content_wrap{
	width:1002px;
	margin:15px auto 20px;
	min-height:560px;
}

#left{
	width:168px;
	background:#fefefe;
	height:560px;
	
}

#left .panel-group .panel{
	    margin-bottom: 0;
    border-radius: 0;
  background:#f8f8f8;
    margin-top: 0;
    border-color: #efefef;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    font-size: 14px;
    overflow:hidden;
    line-height: 28px;
}
#left .panel-heading:before{
	content:"";
width: 20px;
    height: 17px;
    float: left;

}
#left .panel-heading{
	    cursor: pointer
}
#left .panel-heading a{
	float:left;
	color:#797878;
	
}	
.list-group-item a{
		color:#797878!important;
}

.menu_con01 li:hover a{
	color:#40a2fb!important;	
}
.menu_con01 li:hover a ,.menu_con01 li.cur a{
	color:#40a2fb!important;	
}

#left .list-group-item:hover:after, #left .list-group-item.cur:after{
    content: "";
    width: 8px;
    height: 14px;
    float: right;
    background: url(/loan/static/images/icon_left_cur.png) no-repeat;
}
#right{
    width: 830px;
    overflow: hidden;
    float:right;
    background: #fff;
    padding:10px 35px;
    margin-bottom:20px;
}

.menu_tab:hover .panel-title em,#left .panel-group .panel.cur .panel-heading em{
 color:#fff;
}
.menu_con01 {
    display: none;
}

/*account*/
.account_wrap{
	width: 100%;
    overflow: hidden;
    background: #fff;
}
.account_wrap h1{
    padding-left: 10px;
    font-size: 20px;
    color: #40a2fb;
    font-weight: normal;
    margin-bottom: 15px;
}
.account_con{
	background:#fff;
   overflow: hidden;
   margin-bottom: 20px;
	
}
.form_group{
overflow: hidden;
    padding: 15px 0;
}
.form_group dl{
	font-size: 16px;
	color: #666;
}
.form_group dl dt{
	padding-right: 20px;
	font-weight: normal;
}
.bankcard_msg{
    width: 400px;
    height: 220px;
    background: #f2f2f2;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px 30px;
    box-sizing: border-box;
}
.bankcard_msg h5{
    line-height: 2;
    margin: 30px 0;
    font-size: 30px;
    color: #999;
}
.bankcard_msg h6{
	line-height: 2;
	text-align: right;
	font-size: 16px;
}
.bankcard_tip{
	margin-top: 40px;
	font-size: 14px;
}
.bankcard_btn button{
  margin-top: 30px;
	width:160px;
	margin-right: 30px;
	background:#40a2fb;
	color: #fff!important;
}
.bankcard_btn button:hover{
	background: #1684c2;
	color: #fff;
}
.bankcard_btn button:visited, .bankcard_btn button:active {
    color: #fff!important;
}
.bankcard_btn .close{

    width: auto;
    background: none;
    color: #333;
}
.form_group_bank h4{
	font-size:16px!important;
}
.bankcard_btn .close:hover{
	background: none;
	color: #333;
	
	
}
.recharge_msg label{
	margin-left: 5%;
	color: #666;
	font-size:14px;
	width: 30%;
	    font-weight: normal;
}
.recharge_input input{
  width: 300px;
 font-size: 14px;
 margin-left: 20px;
}
.modal_recharge .modal-footer{
	text-align:center;
}
.form_group_bank h4 em{
	cursor: pointer;
}
.loan_apply{
    width: 100%;
    padding: 0 20px;
    overflow: hidden;
}
.loan_apply h1 {
    padding-left: 10px;
    font-size: 24px;
}
.loan_apply h1 span{
	font-size: 18px;
   padding-left: 30px;
}
.loan_apply_wrap{
	 background: #fff;
    padding: 30px 0 20px 10px;
    overflow: hidden;
    margin-bottom: 20px;
}
.la_tab ul{
	overflow:hidden;
}
.la_tab li{
    text-align: center;
    font-size:14px;
    float: left;
    color: #333;
    padding: 8px 0;
    width: 16.666%;
    box-sizing: border-box;
    cursor:pointer;
}
.la_tab li i{
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    border-radius: 100%;
    border: 1px solid #afafaf;
    font-style: normal;
    margin-right: 10px;
}
.la_tab li span{
	  display: inline-block;
	   line-height: 40px;
}
.la_tab li.cur{
	background:#40a2fb;
	color: #fff;
}
.la_tab li.cur i{
	border:1px solid #fff;
}
.la_tab{

	border-bottom: 1px solid #c9c9c9;
	padding: 20px 0;
}
.la_step{
	display: none;
}
.la_step.cur{
	display: block;
}
.la_step select{
	width: 300px;
	border: 1px solid #40A2FB;
    padding-left: 10px;
    line-height: 40px;

    height: 40px;
    color: #666;
    border-radius: 6px;
    display: block;
}
.la_step button{
	 margin-top: 30px;
    width: 240px;
    margin-right: 30px;
    background: #40a2fb;
    color: #fff;
    font-size: 15px;
    height: 40px;
    border-radius: 20px;
}
.la_form label{
	
    color: #666;
    font-size: 16px;
    line-height: 40px;

    text-align: right;
    font-weight: normal;
}
.la_form input{
	    width: 300px;
    border: 1px solid #40A2FB;
    padding-left: 10px;
    line-height: 40px;
    height: 40px;
    color: #666;
    border-radius: 6px;
    display: block;
    font-size: 16px;
}
.la_form{
	clear: both;
	margin-bottom: 20px;
	overflow: hidden;
}
.la_step_two label{
	margin-right: 30px;
}

.la_step_two .la_input01{
  border:none;
  background: none;
}
.error_msg {
    font-size: 14px;
    color: #f40;
    text-align: left;
    padding-top: 20px;
    display: none;
}
.la_step_three p{
	color: #f40;
}
.la_step_three label{
    width: 88px;
    margin-right: 20px;
}

.input_nc{
	background: none!important;
	border: none!important;
}

.info_basic_wrap {
	/*padding: 20px 30px;*/
}

.info_basic_wrap dl dt,
.info_basic_wrap dl dd {
	color: #666666;
	padding-left: 45px;
	line-height: 60px;
}

.info_basic_wrap dl dd.even {
	background:#f7f7f7;
	    padding-left: 10px;
}

.loan_data_tab dl dt {
	color: #666;
}

.loan_all {
	margin-top: 50px;
}

.loan_all h4,
.loan_all h5 {
	text-align: center;
	font-weight: normal;
	line-height: 1.8;
	color: #666666;
}

.loan_all a {
	color: #40A2FB;
}

.mask_loan {
	z-index: 99;
}

.div_imgfile {
    width: 100px;
    height: 82px;
    text-align: center;
    line-height: 130px;
    font-size: 16px;
    box-sizing: border-box;

    cursor: pointer;
   background:#d1cfcf url(../images/add_photo.png) no-repeat;
   position: relative;
     border-radius: 5px;
}
    
    .div_imgfile:hover {
        background-color: #d1cfcf;
        border-radius: 5px;
    }

.imgfile {
    display: none;
}
.flie_wrap {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
}
.div_imgfile {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


.div_imglook {

    overflow: hidden;
    /* background-color: #FFEFD5; */

}


.lookimg {
    width: 130px;
    height: 130px;
    box-sizing: border-box;
    border: 1px solid #808080;
    float: left;
    margin-right: 10px;
    position: relative;
}

    .lookimg img {
        width: 100%;
        height: 100%;
    }

/*閸掔娀娅庨幐澶愭尦閺嶅嘲绱�*/
.lookimg_delBtn {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #808080;
    opacity: 0.8;
    color: white;
    font-size: 16px;
    font-family: 瀵邦喛钂嬮梿鍛寸拨;
    display: none;
    cursor: pointer;
}

    /*閸掔娀娅庨幐澶愭尦缁夎鍙嗙粔璇插毉閺佸牊鐏�*/
    .lookimg_delBtn:hover {
        opacity: 1;
    }


.lookimg_progress {
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    box-sizing: border-box;
    border: 1px solid black;
    display: none;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

    .lookimg_progress div {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 0px;
        background-color: #e9cc2e;
    }




.imgfile_wrap{
	margin: 20px 0;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 20px;
     border-radius: 4px;
}
.imgfile_wrap input{
width: 162px;
    height: 46px;

    background: #40A2FB;
    border: none;
    color: #fff;
    margin: 0 20px 20px 0;
   border-radius: 5px;
}
.imgfile_wrap input.file {
    width: 100px;
    height: 82px;
    position: absolute;
    top: 0;
    left: 0;
}
.info_error_msg{
	display: none;
}
.info_basic_wrap dl dt, .info_basic_wrap dl dd {
    color: #333;
    padding-left: 0;
    font-weight: normal;
    line-height: 60px;
    clear: both;
}
.info_basic_wrap dl dt span:nth-of-type(1){

	line-height: 2;
}
.info_basic_wrap dl dt{
	border-bottom: 1px dotted #ccc;
	overflow: hidden;
	padding-bottom:20px;
	margin-bottom: 20px;
}
.info_basic_wrap dl dd{
	
}
.info_basic_wrap dl dt span:nth-of-type(2){
    width: 100px;
    height: 30px;
    background: #40a2fb;
    color: #fff;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}
.info_basic_wrap dd {
	overflow: hidden;
}
.info_basic_wrap dd b{
	font-weight: normal;
	
}
.info_basic_wrap dl dd span:nth-of-type(1){
	padding-left: 10px;
	font-size: 14px;
}
.imgfile_wrap{
	clear: both;
}
.info_basic_wrap dl dd span:nth-of-type(2){
	    width: 100px;
    height: 30px;
    background: #40a2fb;
    color: #fff;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    margin-top: 15px;
}
.flie_wrap {
	position: relative;
	overflow: hidden;
	width: 100px;
	height: 100px;
}

.imgfile_wrap input.file {
	width: 100px;
	height: 82px;
	position: absolute;
	top: 0;
	left: 0;
}

.div_imgfile {
	width: 100px;
	height: 82px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.div_imglook img {
	width: 130px;
	height: 130px;
	box-sizing: border-box;
	border: 1px solid #808080;
	float: left;
	margin-right: 10px;
}

.lookimg_wrap {
	position: relative;
	width: 130px;
	height: 130px;
	float: left;
	margin-right: 20px;
}

.lookimg_delBtn {
	position: absolute;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
}

.lookimg_wrap:hover .lookimg_delBtn {
	display: block!important;
}
.dis_no{
	display: none;
}
.div_pic_wrap img{
	    width: 130px;
    height: 130px;
    box-sizing: border-box;
    border: 1px solid #808080;
    float: left;
    margin-right: 10px;
}
.div_pic_wrap{
	display: none;
}
.payment_wrap table a{
	color: #40A2FB;
}
.loan_btn{
	text-align: center;
	overflow: hidden;
	padding: 20px 0;
	
}
.la_step_five input.la_input01{
	background: none;
	border:none;
}
.la_step_five label{
	width: 120px;
	margin-right: 30px;
}
 
.la_step_six th{

}
.la_step_six table{
	margin-top: 30px;
	border: 1px solid #d7d7d7;
	line-height:2;
}
.la_step_six table th{
	width: 200px;
	text-align: center;
}
.la_step_six table td{
	text-align: center;
}
.lookimg_wrap{
  display: block;
}
.modal_pic img{
	width: 100%;
}
.invoice_wrap table{
border:1px solid #ccc;
}
.invoice_wrap table th{
	padding: 10px 20px;
	
}
.invoice_wrap table td{
		padding: 10px 20px;
}
.invoice_wrap table td input{
    border: 1px solid #ccc;
    width: 200px;
    margin-bottom: 5px;
    color: #333;
    padding: 0 10px;
    background: none;
    box-sizing: border-box;
}

.invoice_group td{
    text-align: center;
}
.invoice_group td span{
    cursor: pointer;
    color: #40a2fb;
    display: inline-block;
    padding-right: 20px;
}
.invoice_wrap table td:nth-of-type(3) input{
	border: none;
}

.mask_repd{
	background: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,-50%);
-moz-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
-o-transform: translate(-50%,-50%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
    
.modal-header .close {
    margin-top: -2px;
    color: #333!important;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 18px;
    color: #666;
    font-weight: normal;
}
.mask_model_repd{
	    position: relative;
    padding: 15px;
}
.fl{
  float: left;
}
.mask_model_repd .setting_phone_group{
	margin-bottom: 15px;
	clear: both;
	overflow: hidden;
	width: 600px;
	position: relative;
}
.mask_model_repd label {
    margin-left: 5%;
    color: #666;
    font-size: 14px;
    width: 30%;
    text-align: right;
    font-size: 16px;
}
.mask_model_repd input{
    width: 244px;
    font-size: 14px;
    margin-left: 20px;
    padding: 6px 12px;
        line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#btnSendCode{
    position: absolute;
    top: 0;
    right: 113px;
    font-size: 14px;
    color: #666;
    line-height: 34px;
    cursor: pointer;
}
.phone_submit_btn input{
    margin-left: 237px;
    width: 146px;
    background: #40A2FB;
    color: #fff;
    border: none;
    cursor: pointer;
}
.mask_model_repd .error_msg{
	  margin-left: 237px;
	  margin-top: 0;
}
.code_num {
    position: absolute;
    background: rgba(0,0,0,0.4);
    left: 0;
    height: 121%;
    top: -21%;
    z-index: 3;
    width: 100%;
    width: 100%;
    color: #fff;
    display: none;
    padding: 70px 21% 20px;
    box-sizing: border-box;

}

.code_num_t input {
	width: 163px;
	height: 67px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	border: none;
	background: url("../images/bg.png") no-repeat;
	margin-left: 0;
}

.code_num_t {
	overflow: hidden;
	margin-bottom: 10px
}

.code_num_t span {
	line-height: 67px;
	padding-right: 10px;
	font-size: 16px;
}

.code_num_b {
	width: 100%;
	overflow: hidden;
	color: #fff
}

.code_num_b input {
	width: 190px;
	height: 40px;
	display: block;
	border: none;
	background: none;
	color: #fff;
	border-bottom: 1px solid #fff;
	margin-left: 10px;
	border-radius: 0;
}

.code_num_b span {
	width: 98px;
	height: 34px;
	background: #40A2FB;
	text-align: center;
	line-height: 34px;
	cursor: pointer;
	margin-top: 20px;
}
input#pictureCode2R::-webkit-input-placeholder {
	color: #fff
}

input#pictureCode2R::-moz-placeholder {
	color: #fff
}

input#pictureCode2R::-ms-input-placeholder {
	color: #fff
}
.error_msg_02{
    color: #f40;
     display: none; 
    padding-left: 10px;
    font-size: 15px;
    margin-top: 10px;
    line-height: 2;
}
.mask_wrap{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	display: none;
}
.mask_repd{
  display: none;
}
.mask_btn{
	cursor: pointer;
	z-index: ;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.nav_head{
    font-size: 20px;
    color: #40a2fb;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 30px;

    line-height: 65px;
	
}
.info_basic_wrap dl dd span:nth-of-type(2){
	position:relative;
}
.info_basic_wrap dl dd span:nth-of-type(2) a{
    width: 100px;
    height: 30px;
   display:block;
 position:absolute;
 top:0;
 left:0
   
}
.form-actions {
 background:#fff;
}
.form-horizontal .control-group {
    margin-bottom: 8px;
    padding: 10px 0 18px;
    border:0;
}

/*---------------------  */
.form-horizontal{
color:#666;
margin:0;
}
#creditBankCard tr td,#creditBankCard tr th ,#modifyBankCardView tr td ,#modifyBankCardView tr th{
	text-align:center;
}

#creditBankCard tr td>div{
	display:inline-block;
}
.div_imglook >div{
       position: relative;
   width: 130px;
   height: 130px;
   float: left;
   margin-right: 20px;
    position: relative;
    width: 130px;
    height: 130px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.la_step {
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
}

#modifyBankCardView tr td,#modifyBankCardView tr th{
	width:140px;
}
.form-horizontal td label {
    font-weight: normal;
    margin: 10px 0;
}
.table-bordered{
     border-collapse: collapse;
}
.nav_head a span{
    width: 100px;
    background: #40a2fb;
    height: 40px;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    display: block;
    font-size: 15px;
    line-height: 40px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.table {
    margin-bottom: 30px;
    background-color: #fdfdfd;
}
.form-horizontal .controls input{
	height:30px;
}
.form-horizontal .control-label {
    padding-top: 12px;
}
.select2-container .select2-choice{
	    height: 30px;
    width: 276px;
    line-height: 34px;
    margin-top: 2px;
    background-image:none!importnt;
}

.form-actions input{
	    width: 100px;
    height: 40px;

}

.form-actions input:nth-of-type(1),.btns input{
	    background: #40a2fb;
	        color:#fff;
}
.form-actions input:nth-of-type(1):hover,.btns input:hover{
		    background: #40a2fb;
	        color:#fff;
}
.breadcrumb{
	padding:0;
}
.modal-backdrop {
    background-color: #000;
}

#searchForm{
	padding:10px 0;
}

#contentTable th{
	font-weight:normal;
	color:#666;
}
#contentTable td{
	width:16.666%;
	vertical-align: middle;
}
#contentTable td b{
	font-weight:normal;
	color:#666;
}

#contentTable td a{
	    color: #40a2fb;

}
.tit_pic{
	text-align: center;
    line-height: 2;
    font-size: 14px;
}
/*注册协议  */
.protocol_group, .protocol_group h3 {
    margin-bottom: 10px;
}
.protocol_group h3, .protocol_group h4 {
    text-align: center;
    line-height: 2;
    color: #333;
    font-weight: normal;
}

。protocol_group p{
  line-height:2;
}
.mask_protocol,.mask_protocol_signature{

    max-height: 600px;
    overflow: auto;
}
.read_btn span{
    cursor: pointer;
    width: 80px;
    display: inline-block;
    height: 30px;
    background: #40a2fb;
    line-height: 30px;
    color: #fff;
    margin: 0 10px;
 
}


.read_btn{
	text-align:center;
}
.agreement {
    font-size: 16px;
    overflow: hidden;
    margin: 10px 0;
    cursor: pointer
}

.agreement input {
    width: 16px;
    height: 16px;
    display: block;
    opacity: 0;
    filter: opacity(0);
    cursor: pointer
}

.agreement span {
    width: 13px;
    height: 13px;
    float: left;
    margin-top: 13px;
    margin-left: 3px;
    margin-right: 8px;
    background: url("../images/agreen.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    position:relative;
}
.agreement span i{
	position:absolute;
	top:0;
	left:0;
	width: 18px;
    height: 18px;
    opacity: 0;
    filter: opacity(0);
    cursor: pointer
}
.agreement span.cur {
    background: url("../images/agreen_cur.png") no-repeat
}

.agreement em {
    line-height: 42px;
    color: #b6b7b7;
    font-size: 14px;
    font-style: normal;
    padding-right: 8px;
}


.loan_apply_wrap_01,.loan_apply_wrap_02{
    height: 788px;
    overflow-y: scroll;
}
































